@import './base.css';

body{
  background-color: aliceblue;
}

#app {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  padding: 1rem;
  align-items: center;
  font-weight: normal;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background-color: aliceblue;
}