@import './base.css';

body{
  background-color: aliceblue;
}

#app {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}


